body {
    font-size: 1.0em;
    line-height: 1.05;
}

pre {
    line-height: 0.8em;
    padding: 0.5em;
}

code, kbd, samp {
    font-size: 0.8em;
}

.structfield {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.structfield code {
    font-size: 1em;
    font-weight: bold;
}

.block a, .sidebar h2 a, .sidebar h3 a {
    padding: 0.1em;
}

ol, ul {
    padding-left: 1em;
}

.docblock, .docblock > :not(.more-examples-toggle):not(.example-wrap) {
    max-width: unset;
    overflow-x: unset;
}

h1, h2, h3, h4 {
    margin: 1em 0 0.25em 0;
    padding: 0 0 0.1em 0;
}

h1, .top-doc .docblock h1 {
    font-size: 1.5rem;
}
h2, .top-doc .docblock h2 {
    font-size: 1.4rem;
}
h3, .top-doc .docblock h3 {
    font-size: 1.2rem;
}

main {
    flex: 75%;
    padding: 0.5em 1em 2em 1.5em;
}

.sidebar {
    flex: 25%;
    font-size: 0.8em;
    line-height: 0.9em;
    max-width: 18em;
}

.sidebar h3 {
    margin: -0.75em 0 0.2em 0;
    line-height: 1.0;
}

.sidebar-elems, .sidebar > .version, .sidebar > h2 {
    padding-left: 0.75rem;
}

.width-limiter {
    max-width: 64em;
}

h3.code-header {
    font-size: 1.1em;
}

.impl-items > section {
    margin-bottom: 0.5em;
}

.rustdoc .example-wrap pre.example-line-numbers, .rustdoc .example-wrap pre.src-line-numbers {
    font-size: 0.8em;
}

.rustdoc .example-wrap pre.src-line-numbers {
    line-height: 1.078;
}

details.toggle>summary:not(.hideme)::before {
    left: -20px;
    top: 2px;
}
.impl-items>details.toggle>summary:not(.hideme)::before {
    left: -20px;
}

p, .docblock > .warning {
    margin : 0 0 0.5em 0;
}

.variant, .implementors-toggle > summary, .impl, #implementors-list > .docblock, .impl-items > section, .impl-items > .toggle > summary, .methods > section, .methods > .toggle > summary {
    margin-bottom: 0.4em;
}

.variants > .docblock, .implementors-toggle > .docblock, .impl-items > .toggle[open]:not(:last-child), .methods > .toggle[open]:not(:last-child), .implementors-toggle[open]:not(:last-child) {
    margin-bottom: 1em;
}
